.form {
  min-width: 300px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.form__select {
  padding: 7px;
  border-radius: 5px;
}

.form__button-submit {
  margin-top: 15px;
  transition: opacity 0.3s;
}

.form__button-submit:disabled {
  opacity: 0.5;
}
